<h1 align="center" style="color:white;">Angular Toaster Message Integration</h1>
<body class="bg-img">
  
  <br>
 

 
<div align="center" >  
  <input type="button" value=" Success Message" class=" button btn btn-success" (click)="showToaster()">   
  <input type="button" value=" Error Message" class="button btn btn-danger" (click)="errorsmsg()">    
  <input type="button" value=" Success Message" class="button btn btn-info" (click)="infotoastr()">    
  <input type="button" value=" Info Message" class="button btn btn-warning" (click)="toastrwaring()">    
</div> 
</body>