
.button {  
    padding: 5px 20px;  
    margin: 5px;  
    text-align: center;  
    text-decoration: none;  
    display: inline-block;  
    font-size: 14px;  
  }  
  
  // .button.is-danger {
  //   background-color: #ff3860;
  //   border-color: transparent;
  //   color: #fff;
  // }
  
  